---
#layout: blogpost.hbs

title: Example blog post

description:
  All good blog templates should have a nice example blog post in them. This helps understanding how the system works and what to expect. Further it helps testing the site layout and generation features.

date: 2013-06-24T18:58:57+03:00
lastmod: 2013-06-24T19:58:57+03:00

categories:
- Examples
- Layout tests

tags:
- Sample
- Test
---
<p class="description">{{description}}</p>
