			{{#if_depth_gt site.breadcrumbs_start_at}}
			<ul class="breadcrumb">
				{{!This helper generates the data for breadcrumbs itself!}}
				{{#breadcrumbs}}
				{{! For the beginning part of the breadcrumbs }}
				{{^active}}
				<li>
					<a href="{{this.href}}">{{this.title}}</a> <span class="divider">&gt;</span>
				</li>
				{{/active}}
				{{! For the current part of the breadcrumbs }}
				{{#active}}
				<li class="active">
					{{title}}
				</li>
				{{/active}}
				{{/breadcrumbs}}
			</ul>
			{{/if_depth_gt}}