						<ul class="nav {{$_.className}}">
							{{#$_.items}}
							<li class="{{nav_is_active ..}}{{className}}"><a href="{{nav_relatives ..}}">{{title}}{{>badge}}</a></li>
							{{/$_.items}}
						</ul>