						<ul class="nav {{$_.className}}">
							{{#$_.items}}
							<li class="{{nav_is_active ..}}{{className}}"><a href="{{relatives ../page.dest href}}">{{title}}{{>badge}}</a></li>
							{{/$_.items}}
						</ul>