		<div class="navbar navbar-fixed-top{{#if skin.nav_inverse}} navbar-inverse{{/if }} hidden-print">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</a>
					
					<a class="brand{{#skin.logo}} brand-img{{/skin.logo}}" href="{{root assets}}">{{{skin.logo}}}{{^skin.logo}}{{ site.title }}{{/skin.logo}}</a>
					
					<div class="nav-collapse collapse">

{{#nav.site}}
{{#$ ..}}{{>nav}}{{/$}}
{{/nav.site}}

{{#nav.site-right}}
{{#$ ..}}{{>nav}}{{/$}}
{{/nav.site-right}}

					</div>
				
				</div>
			</div>
		</div>
