---
layout:base_html_layout.hbs
---
{{!Common head}}
{{>_master_head}}

		{{>navbar}}
		<div class="container" role="main">
			{{#unless layout_no_breadcrumbs}}{{>breadcrumbs}}{{/unless}}
			{{#unless layout_no_title}}{{h1 title}}{{/unless}}
			{{#unless layout_no_description}}<p class="lead">{{description}}</p>{{/unless}}
			{{>body}}
		</div>

{{!Common footer js stuff}}
{{#unless layout_no_footer_js}}{{>_master_footer_js}}{{/unless}}

{{!Common footer}}
{{>_master_footer}}
