---
layout:base_html_layout.hbs
---
{{!Common head}}
{{>_master_head}}

		{{>navbar}}
		<div class="container">
			<h1>{{title}}</h1>
			{{>body}}
		</div>

{{!Common footer js stuff}}
{{>_master_footer_js}}

{{!Common footer}}
{{>_master_footer}}