---
layout:base_html_layout.hbs
---
{{!Common head}}
{{>_master_head}}

		{{>navbar}}
		<div class="container">
			{{>breadcrumbs}}
			{{h1 title}}
			<p class="lead">{{description}}</p>
			{{>body}}
		</div>

{{!Common footer js stuff}}
{{>_master_footer_js}}

{{!Common footer}}
{{>_master_footer}}